.main{
	padding:20px;
	background: rgba(255,187,16,1); /* old browsers */
	background-image: url(../img/nina.png), -webkit-linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(255,187,16,1) 100%); /* Chrome 10-25, Safari 5.1-6 */
	background-image: url(../img/nina.png), linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(255,187,16,1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-position: center 5%;
	text-align: center;
	@include breakpoint(small){
		background: rgba(255,187,16,1); /* old browsers */
		background-image: url(../img/nina-tablet.png), -webkit-linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%); /* Chrome 10-25, Safari 5.1-6 */
		background-image: url(../img/nina-tablet.png), linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-repeat: no-repeat;
		background-position: center -30px;
		text-align: left;
		padding:0;
		// padding:20px;
	}

	@include breakpoint(large){
		background: rgba(255,187,16,1); /* old browsers */
		background-image: url(../img/nina-desktop.png), -webkit-linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%); /* Chrome 10-25, Safari 5.1-6 */
		background-image: url(../img/nina-desktop.png), linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(249,232,183,1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-repeat: no-repeat;
		background-position: center bottom;
		text-align: left;
		padding:0;
		// padding:20px;
	}

	.nopapading{
		padding: 0 !important;
	}

	@include breakpoint(small){
		.claims{
			padding:20px;
		}
	}

	@include breakpoint(medium){
		.claims{
			padding:20px 120px;
		}
	}


	@include breakpoint(large){
		.claims{
			padding:0 15px 0 0;
		}
		padding:47px;
	}

	.title-1,.title-2{
		color: $secondary-color;
		font-family: 'montserratbold';
		font-size: 2em;
		line-height: 45px;
		@include breakpoint(small){
			background-color: $primary-color;
			border-radius:20px;
			padding:10px;
			display: inline-block;
			text-align: left;
			font-size: 1.5em;
			line-height: 1.1em;
		}
		@include breakpoint(large){
			font-size: 2.4em;
		}
	}
	.title-1{
		@include breakpoint(small){
			margin-bottom: 10px;
		}
	}

	.title-2{
		@include breakpoint(large){
			margin-bottom: 40px;
		}
	}

	//form
	.ingresa{
		background-color: $secondary-color;
		padding: 20px 30px 60px 30px;
		border-radius: 20px;
		text-align: left;
		margin-top: 330px;
		box-shadow: 0 2px 6px 0 rgba(0,0,0,0.18);
		@include breakpoint(small){
			margin-top: 0;
			width: 45%;
		}
		@include breakpoint(large){
			width: 100%;
		}
		h2{
			color:$primary-color;
			margin: 0;
			font-family: 'montserratbold';
			font-size: 1.3em;
			margin-bottom: 40px;
		}

		input[type="text"]{
			width: 100%;
			padding: 10px;
			border:1px solid #cccccc;
			border-radius: 10px;
			appearance: none;
			-moz-appearance: none;
			-webkit-appearance: none;

			-webkit-transition: all 0.30s ease-in-out;
			-moz-transition: all 0.30s ease-in-out;
			-ms-transition: all 0.30s ease-in-out;
			-o-transition: all 0.30s ease-in-out;
			&:focus{
				border: 2px solid $primary-color;
				outline: none;
			}
		}

		button[type="submit"]{
			background-color: $primary-color;
			width: 100%;
			padding: 9px;
			border-radius: 10px;	
			color:$secondary-color;
			font-family: 'montserratbold';
			border:none;
			margin-top: 5px;
			box-shadow: 0 2px 6px 0 rgba(0,0,0,0.18);
		}
		.errorRut{
			color:red;
			font-size: 0.8em;
			font-family: 'montserratbold';
			text-align: left;
			margin: 10px 0;
		}

	}//form


	.recomendar{
		// background-color: rgba($primary-color,0.3);
		// border-radius: 10px;
		padding: 20px 20px;
		position: relative;
		@include breakpoint(small){
			background-color: $primary-color;
			@include clearfix;
		}
		@include breakpoint(large){
			padding:20px 15px;
			border-radius:10px;
			background-color: rgba($primary-color, .4);
		}
		h3{
			color: $secondary-color;
			font-family: 'montserratbold';
			// font-size: 1.8em;
			font-size: 1.2em;
			line-height: 30px;
			margin:0;
			@include breakpoint (small){
				text-align: center;
				font-size: 1.8em;
			}
		}
		.timeline{
			display: none;
			height: 5px;
			background-color: $secondary-color;
			width: 100%;
			// display: block;
			margin:25px 0; 
			position: relative;
			@include breakpoint(small){
				display: block;
			}
			&:after{
			    content:"";
			    position: absolute;
			    width: 30px;
			    height: 30px;
			    display: block;
			    background-color: $secondary-color;
			    top: -13px;
			    left:80px;
			    border-radius: 100%;
			    box-shadow: 245px 0px 0px 0px rgba(255, 255, 255, 1);
			   	@include breakpoint(medium){
			   		left: 110px;
			   		box-shadow: 305px 0px 0px 0px rgba(255, 255, 255, 1);
			   	}
			   	@include breakpoint(large){
					left: 85px;
					box-shadow: 230px 0px 0px 0px white;
			   	}
			}
			&:before{
			    content:"";
			    position: absolute;
			    width: 30px;
			    height: 30px;
			    display: block;
			    background-color: $secondary-color;
			    top: -13px;
			    right:60px;
			    border-radius: 100%;
			    @include breakpoint(medium){
			    	right: 140px;
			    }
			    @include breakpoint(large){
			    	right: 88px;
			    }
			}
		}
		.lista-recomendar{
			text-align: center;
			span{
				font-size: 4em;//5

				color: $secondary-color;
				font-family: 'montserratbold';

				@include breakpoint (small){
					margin-right: 10px;
					float: left;
					position: relative;
					top: -15px;
				}
				@include breakpoint(large){
					float: none;
					display: block;
					margin-right: 0;
				}
			}
			p{
				font-size: 0.9em;
				color: $secondary-color;
				width: 100%;
				@include breakpoint (small){
					float: left;
					width: 70%;
					font-size: 0.75em;
					text-align: left;
				}
				@include breakpoint(large){
					text-align: center;
					width: 100%;
					position: relative;
					top: -20px;
				}
			}
		}
	}//recomendar
}//.main

//legal
.legal{
	padding:50px 20px;
	background-color: $gray-color;
	clear:both;
	@include breakpoint(small){
		padding:100px;
	}
	@include breakpoint(large){
		padding:50px 20px;
	}
	p{
		color:$color-text;
		text-align: center;
		font-size: 0.7em;
		color: #566280;
		@include breakpoint(small){
			text-align: left;
			font-size: 0.65em;
		}
		a{
			color: $primary-color;
			font-family: 'montserratbold';
			text-decoration: none;
		}
	}
}

.final{
	height: 750px;//900
	padding:20px;
	background: rgba(203,156,219,1); /* old browsers */
	background-image: url(../img/nina-final.png), linear-gradient(-204deg, #8639AA 0%, #CB9CDB 100%); /* Chrome 10-25, Safari 5.1-6 */
	//background-image: url(../img/nina.png), linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(255,187,16,1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-repeat: no-repeat;
	background-position: center bottom;
	text-align: center;
	@include breakpoint(small){
		background: rgba(203,156,219,1); /* old browsers */
		background-image: url(../img/final-desk.png), linear-gradient(-204deg, #8639AA 0%, #CB9CDB 100%); /* Chrome 10-25, Safari 5.1-6 */
		//background-image: url(../img/nina-tablet.png), linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(255,187,16,1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-repeat: no-repeat;
		background-position: center -30px;
		text-align: left;
		padding:0;
		background-size: 132%;
		// padding:20px;
		height: auto;
	}

	@include breakpoint(medium){
		background-size: 110%;
		background-image: url(../img/final-desk.png), linear-gradient(-204deg, #8639AA 0%, #CB9CDB 100%);
		background-position: 0;
		height: 480px
	}

	@include breakpoint(large){
		background: rgba(203,156,219,1); /* old browsers */
		background-image: url(../img/pepa-big-big.png), linear-gradient(-204deg, #8639AA 0%, #CB9CDB 100%);/* Chrome 10-25, Safari 5.1-6 */
		//background-image: url(../img/nina-desktop.png), linear-gradient(45deg, rgba(255,187,16,1) 0%, rgba(255,187,16,1) 45%, rgba(255,187,16,1) 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		background-repeat: no-repeat;
		background-position: 0 0;
		background-size: 110%;
		text-align: left;
		// padding:20px;
		height: 605px;
	}

	.claim-final{
		@include breakpoint(small){
			padding:40px 80px;
		}
		.final-title-1 {
			color: $secondary-color;
			text-align: center;
			font-size: 1.5em;
			font-family: 'montserratblack';
			text-transform: uppercase;
			display: block;
			margin-bottom: 1em;
			@include breakpoint(small){
				display: block;
				width: 70%;
				margin-left: auto;
				margin-right: auto;
			}
			@include breakpoint(large){
				font-size: 2.438em;
				margin-top: 1.5em;
				& span{
					display: block;
				}
			}
		}
		h1{
			font-size: 3em;
			font-family: 'montserratblack';
			text-align: center;
			color: $secondary-color;
		}
		p{
			color: $secondary-color;
			line-height: 25px;
			& span{
				display: block;
			}
			@include breakpoint(small){
				text-align: center;
				width: 60%;
				margin-right: auto;
				margin-left: auto;
			}
			@include breakpoint(large){
				font-size: 1.3em;
				width: 45%;
				line-height: 30px;
			}
		}
		.bold{
			font-size: 1.2em;
			font-family: 'montserratblack';
			text-align: center;
			color: $secondary-color;
			margin:22px 0;
		}
		.inscribete{
			border-radius: 10px;
			background-color: $primary-color;
			padding: 20px 10px;
			color: $secondary-color;
			display: block;
			font-family: 'montserratbold';
			margin: 1.5em 0 1em 0;
			text-decoration: none;
			@include breakpoint(small){
				width: 277px;
				text-align: center;
				margin: 2em auto;
			}
		}
	}
}



//errores
.wizard{
	form.f1{
		fieldset{
			.form-group{
				margin-bottom: 30px;
				.errorFields{
					color:red;
					font-size: 0.75em;
					font-family: 'montserratbold';
					text-align: left;
					//margin: 10px 0;
					position: absolute;
					bottom: -3px;
					left: 0px;
					margin: 0;
					display: none;
				}
				.er{
					@include breakpoint(small){
						left: 15px !important;
					}
				}
			}
			.warn{
				color: $primary-color;
				float: left;
				margin-bottom: 2em;
				font-family: 'montserratbold';
				text-align: left;
				display: block;
				width: 100%;
				position: relative;
				top: 0px;
				font-size: 0.65em;
			}
		}
	}
}


//hover ripple in



/* Ripple In */
@-webkit-keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
.hvr-ripple-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-ripple-in:before {
  content: '';
  position: absolute;
  border: $primary-color solid 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: .3s;
  border-radius: 10px;
}
.hvr-ripple-in:focus:before, .hvr-ripple-in:active:before, .hvr-ripple-in:hover:before {
  -webkit-animation-name: hvr-ripple-in;
  animation-name: hvr-ripple-in;
}

@-webkit-keyframes hvr-ripple-in-g {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in-g {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
.hvr-ripple-in-g {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-ripple-in-g:before {
  content: '';
  position: absolute;
  border: $green solid 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: .8s;
  border-radius: 10px;
}
.hvr-ripple-in-g:focus:before, .hvr-ripple-in-g:active:before, .hvr-ripple-in-g:hover:before {
  -webkit-animation-name: hvr-ripple-in-g;
  animation-name: hvr-ripple-in-g;
}




@-webkit-keyframes hvr-ripple-in-gray {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
@keyframes hvr-ripple-in-gray {
  100% {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 1;
  }
}
.hvr-ripple-in-gray {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-ripple-in-gray:before {
  content: '';
  position: absolute;
  border: #C0C5D0 solid 4px;
  top: -12px;
  right: -12px;
  bottom: -12px;
  left: -12px;
  opacity: 0;
  -webkit-animation-duration: 1s;
  animation-duration: .8s;
  border-radius: 10px;
}
.hvr-ripple-in-gray:focus:before, .hvr-ripple-in-gray:active:before, .hvr-ripple-in-gray:hover:before {
  -webkit-animation-name: hvr-ripple-in-g;
  animation-name: hvr-ripple-in-g;
}




