doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Club Metrogas
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
    .container-fluid
      .row
        .container
          .row
            .preheader#top
              .col-md-6
                a.linkTop(href="#") ir al club Metrogas: 
                  span metrogas.cl/club
              .col-md-6
                ul.secondary-nav
                  li: a(href="#") preguntas frecuentes
                  li: a(href="#") conócenos            
                  li: a(href="#") 
                    i.ion-social-facebook
                  li: a(href="#") 
                    i.ion-social-twitter
            header
              .row
                .col-sm-12
                  a.logo(href="#")
                    img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            section.final
              .row
                .col-xs-12.col-sm-12.col-lg-12
                  .claim-final
                    span.final-title-1 El proceso ha finalizado exitosamente
                    h1 RECUERDA
                    p Mientras más amigos invites a ser socios del Club, <span>¡más posibilidades tienes de ganar 50.000 Metropuntos adicionales!</span> Los 3 socios que logren más amigos inscritos al Club se ganan este increíble premio. 
                    p.bold Si aún no eres socio del club
                    a.inscribete(href="#") inscribete aquí

            section.legal
              .row
                .col-xs-12
                  p  Para participar, debes ingresar tus datos y los de las personas que recomiendes en el sitio www.pordefinir.cl. Un mail de confirmación te llegará a ti y a tu(s) invitado(s) con información del Club. Existe un total de 500 premios de 20.000 Metropuntos.Recuerda que solo se puede ganar un máximo de 60.000 Metropuntos. Los Metropuntos que ganes solo los podrás aprovechar cuando estés inscrito en el Club Metrogas. Promoción válida desde el 01 al 31 de mayo del 2017.¡Aprovéchala y disfruta aún más los beneficios del Club Metrogas.
                  p  Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  p  Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.
    .container.colorFull
      .row
        footer
          .col-xs-12
            a(href="#")
              img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            a(href="#top").flecha-Right
                img(src="img/arrow-bttm.svg", alt="subir")
              
          .col-xs-12.col-sm-6
            a.linkFoot(href="#") ir al sitio: <span>metrogas.cl/club</span>
          .col-xs-12.col-sm-6
            ul.navFoot
              li: a(href="#") preguntas frecuentes
              li: a(href="#") Conócenos
            ul.socialNav
              li
                 a(href="#")
                    i.ion-social-facebook
              li
                 a(href="#")
                    i.ion-social-twitter

          .col-xs-12
            .upFooter
              a.arrow(href="#top")
                img(src="img/arrow-bttm.svg", alt="subir")


    //-js
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
