doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Club Metrogas
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='css/ripple.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
    .container-fluid
      .row
        .container
          .row
            .preheader#top
              .col-md-6
                a.linkTop(href="http://www.metrogas.cl/club/",target="_blank") ir al Sitio Club Metrogas: 
                  span www.metrogas.cl/club
              .col-md-6
                ul.secondary-nav
                  li: a(href="http://www.metrogas.cl/club/preguntasfrecuentes",target="_blank") Preguntas frecuentes
                  li: a(href="http://www.metrogas.cl/club/", target="_blank") Conócenos            
                  li: a(href="https://www.facebook.com/ClubMetrogasCL/",target="_blank") 
                    i.ion-social-facebook
                  li: a(href="https://twitter.com/Club_Metrogas",target="_blank") 
                    i.ion-social-twitter
            header
              .row
                .col-sm-12
                  a.logo(href="http://www.metrogas.cl", target="_blank")
                    img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            section.final
              .row
                .col-xs-12.col-sm-12.col-lg-12
                  .claim-final
                    .final-title-1 GRACIAS POR INVITAR
                      <span>A TUS AMIGOS</span> AL CLUB METROGAS
                    p  Muy pronto tú y los amigos que invitaste al Club recibirán un mail de confirmación.
                    p ¡Suerte! 
                    a.inscribete.ripple(href="#") Finalizar

            section.legal
              .row
                .col-xs-12
                  p Promoción vigente desde el 22 de mayo 2017 hasta el 11 de mayo 2017, 
                    | ambas fechas inclusive, o hasta agotar stock de 500 premios de 20.000 Metropuntos y 3 
                    | premios de 50.000 Metropuntos. El abono de Metropuntos se realizará al RUT del Recomendado
                    | antes del 30 de junio 2017. *Cada Recomendador podrá obtener un máximo de 3 premios de 20.000 
                    | Metropuntos y un premio de 50.000 Metropuntos. Los recomendados serán considerados cuando estos no 
                    | hayan estado inscritos en el Club Metrogas hasta el 21 de mayo 2017. Si existieran un Recomendado 
                    | común a dos Recomendadores, el premio será para el primero que recomendó. Ver detalles, 
                    | condiciones y restricciones de esta promoción en 
                    a(href='http://www.metrogas.cl/bases_y_promociones', target='_blank')
                      | www.metrogas.cl/bases_y_promociones
                    | . Las bases de este programa han sido protocolizadas en la 16a
                    |   Notaría de Santiago de Doña Antonieta Mendoza Escalas, ubicada en San Sebastián N°2750, pisos, 1 y 2, Las Condes.
    .container.colorFull
      .row
        footer
          .col-xs-12
            a()
              img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            a(href="#top").flecha-Right
                img(src="img/arrow-bttm.svg", alt="subir")
              
          .col-xs-12.col-sm-6
            a.linkFoot(href="http://www.metrogas.cl/club/",target="_blank") ir al Sitio del Club Metrogas: <span>www.metrogas.cl/club</span>
          .col-xs-12.col-sm-6
            ul.navFoot
              li: a(href="http://www.metrogas.cl/club/preguntasfrecuentes",target="_blank") Preguntas frecuentes
              li: a(href="http://www.metrogas.cl/club/", target="_blank") Conócenos
            ul.socialNav
              li
                 a(href="https://www.facebook.com/ClubMetrogasCL/",target="_blank")
                    i.ion-social-facebook
              li
                 a(href="https://twitter.com/Club_Metrogas",target="_blank")
                    i.ion-social-twitter

          .col-xs-12
            .upFooter
              a.arrow(href="#top")
                img(src="img/arrow-bttm.svg", alt="subir")


    //-js
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
