doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Club Metrogas
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
    .container-fluid
      .row
        .container
          .row
            .preheader
              .col-md-6
                a.linkTop(href="#") ir al club Metrogas: 
                  span metrogas.cl/club
              .col-md-6
                ul.secondary-nav
                  li: a(href="#") preguntas frecuentes
                  li: a(href="#") conócenos            
                  li: a(href="#") 
                    i.ion-social-facebook
                  li: a(href="#") 
                    i.ion-social-twitter
            header
              .row
                .col-sm-12
                  a.logo(href="#")
                    img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            section.wizard
                .col-sm-12.form-box
                  form.f1(role='form', action='', method='post')
                    .f1-steps
                      .f1-progress
                        .f1-progress-line(data-now-value='33.33', data-number-of-steps='3', style='width: 33.33%;')
                      .f1-step
                        p 1 · INGRESA TUS DATOS
                        .f1-step-icon

                      .f1-step.two
                        p 2 · RECOMIENDA A TUS AMIGOS
                        .f1-step-icon

                      .f1-step.active
                        p 3 · TU LISTA DE RECOMENDADOS
                        .f1-step-icon

                    
                   
                        
                        

                      
                  
            section.legal
              .row
                .col-xs-12
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae, et deserunt sapiente laboriosam possimus quo voluptas fugit, suscipit id, a unde debitis, doloremque modi. Fuga nostrum, optio in minus.
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae, et deserunt sapiente laboriosam possimus quo voluptas fugit, suscipit id, a unde debitis, doloremque modi. Fuga nostrum, optio in minus.
                  p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quam recusandae, et deserunt sapiente laboriosam possimus quo voluptas fugit, suscipit id, a unde debitis, doloremque modi. Fuga nostrum, optio in minus.
    .container.colorFull
      .row
        footer
          .col-xs-12
            a(href="#")
              img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            .flecha-Right
                img(src="img/arrow-bttm.svg", alt="subir")
              
          .col-xs-12.col-sm-6
            a.linkFoot(href="#") ir al sitio: <span>metrogas.cl/club</span>
          .col-xs-12.col-sm-6
            ul.navFoot
              li: a(href="#") preguntas frecuentes
              li: a(href="#") Conócenos
            ul.socialNav
              li
                 a(href="#")
                    i.ion-social-facebook
              li
                 a(href="#")
                    i.ion-social-twitter

          .col-xs-12
            .upFooter
              a.arrow(href="#")
                img(src="img/arrow-bttm.svg", alt="subir")


    //-js
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
    script(src='js/jquery.backstretch.min.js')
