doctype html
html.no-js(lang='es')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Club Metrogas
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='apple-touch-icon', href='apple-touch-icon.png')
    //- Place favicon.ico in the root directory

    link(rel='stylesheet', href='css/style.css')
    link(rel='stylesheet', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')

    script(src='js/modernizr.js')
  body
    .container-fluid
      .row
        .container
          .row
            .preheader#top
              .col-md-6
                a.linkTop(href="#") ir al club Metrogas: 
                  span metrogas.cl/club
              .col-md-6
                ul.secondary-nav
                  li: a(href="#") preguntas frecuentes
                  li: a(href="#") conócenos            
                  li: a(href="#") 
                    i.ion-social-facebook
                  li: a(href="#") 
                    i.ion-social-twitter
            header
              .row
                .col-sm-12
                  a.logo(href="http://www.metrogas.cl", target="_blank")
                    img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            section.wizard
                .col-sm-12.form-box
                  form.f1(role='form', action='final.html', method='post')
                    .f1-steps
                      .f1-progress
                        .f1-progress-line(data-now-value='33.33', data-number-of-steps='3', style='width: 33.33%;')
                      .f1-step.active
                        p 1 · INGRESA TUS DATOS
                        .f1-step-icon

                      .f1-step.two
                        p 2 · RECOMIENDA A TUS AMIGOS
                        .f1-step-icon

                      .f1-step
                        p 3 · TU LISTA DE RECOMENDADOS
                        .f1-step-icon

                    fieldset
                      h4 RUT: 16.357.872-7
                      .col-xs-12.col-sm-6.form-box-pl
                        .form-group
                          label.sr-only(for='f1-first-name') Nombre
                          input#f1-first-name.f1-first-name.form-control(type='text', name='f1-first-name', placeholder='Nombre')
                          .errorFields
                            p Debes ingresar tu nombre
                      .col-xs-12.col-sm-6.form-box-pr
                        .form-group
                          label.sr-only(for='f1-last-name') Apellido
                          input#f1-last-name.f1-last-name.form-control(type='text', name='f1-last-name', placeholder='Apellido')
                          .errorFields.er
                            p Debes ingresar tu apellido
                      .col-xs-12.col-sm-6.form-box-pl
                        .form-group
                          label.sr-only(for='f1-email') Email
                          input#f1-email.f1-email.form-control(type='text', name='f1-email', placeholder='Email')
                          .errorFields
                            p Debes ingresar tu email
                      .col-xs-12.col-sm-6.form-box-pr
                        .form-group
                          label.sr-only(for='f1-email') Confirma tu email
                          input#f1-email.f1-email.form-control(type='text', name='f1-email', placeholder='Confirma tu email')
                          .errorFields.er
                            p Debes confirmar tu email
                      .col-xs-12
                        .accept
                          fiedlset
                            input#accept_ok(type='checkbox', name='acepto', value='accept_ok')
                            label(for='accept_ok') Acepto las condiciones legales del concurso
                      .col-xs-12.nopapading
                        .condiciones
                          a#toggleButton(href="#") ver condiciones legales del concurso
                          #disclaimer
                            #disclaimer-text
                              p  Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas sed diam eget risus varius blandit sit amet non magna. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Nullam quis risus eget urna mollis ornare vel eu leo. Etiam porta sem malesuada magna mollis euismod.

                              p  Donec ullamcorper nulla non metus auctor fringilla. Nulla vitae elit libero, a pharetra augue. Donec sed odio dui. Maecenas faucibus mollis interdum. Aenean lacinia bibendum nulla sed consectetur. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                              p Maecenas sed diam eget risus varius blandit sit amet non magna. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet fermentum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Maecenas sed diam eget risus varius blandit sit amet non magna.
                              p  Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Maecenas faucibus mollis interdum. Cras mattis consectetur purus sit amet fermentum.
                            a#closer(href="#") cerrar
                      .f1-buttons
                        button.btn.btn-next(type='button') continuar
                    fieldset
                      p.text-step ¡Recomienda a todos los amigos que quieras y vive junto a ellos la entretención del Club Metrogas! Ingresa aquí sus datos para que se les envíe un mail de confirmación de socios.

                        .input_fields_wrap
                          div
                            .row(style="position:relative;")
                              .col-xs-12.col-sm-6.col-lg-2
                                .form-group
                                  label.sr-only(for='f1-first-name') Nombre
                                  input#f1-first-name.f1-first-name.form-control(type='text', name='f1-first-name', placeholder='Nombre')
                                  .errorFields.er
                                    p Debes ingresar su nombre
                              .col-xs-12.col-sm-6.col-lg-2
                                .form-group
                                  label.sr-only(for='f1-last-name') Apellido
                                  input#f1-last-name.f1-last-name.form-control(type='text', name='f1-last-name', placeholder='Apellido')
                                  .errorFields.er
                                    p Debes ingresar su apellido
                              .col-xs-12.col-sm-4.col-md-4.col-lg-2
                                .form-group
                                  label.sr-only(for='f1-email') Email
                                  input#f1-email.f1-email.form-control(type='text', name='f1-email', placeholder='Email')
                                  .errorFields.er
                                    p Debes ingresar su email
                              .col-xs-12.col-sm-4.col-md-4.col-lg-2
                                .form-group
                                  label.sr-only(for='f1-email') Confirma tu Email
                                  input#f1-email.f1-email.form-control(type='text', name='f1-email', placeholder='Confirma tu email')
                                  .errorFields.er
                                    p Debes confirmar su email
                              .col-xs-12.col-sm-3.col-md-3.col-lg-4
                                .form-group
                                  label.sr-only(for='f1-email') RUT
                                  input#f1-first-name.f1-first-name.form-control(type='text', name='f1-first-name', placeholder='RUT')
                                  .errorFields.er
                                    p Debes ingresar su RUT 

                      .col-xs-12
                        .add-button
                          <p class="text-rosa add_field_button">agregar más amigos</p>
                          <a href="#" class="signo-mas add_field_button"><i class="ion-plus-circled"></i></a>
                      .f1-buttons
                        //- button.btn.btn-previous(type='button') Previous
                        button.btn.btn-next(type='button') continuar
                    fieldset
                      .final
                        p.thanks ¡Gracias por recomendar a tus amigos!
                        p.text-step ¡Felicitaciones!, ya estás participando por tus Metropuntos.  Un mail de confirmación será enviado a ti y a tus invitados. 
                        p.text-step-last
                          | Recuerda que solo ganas cuando alguno de tus recomendados se haya inscrito al Club.
                        p.text-step El abono de los Metropuntos ganados se realizará durante mayo.

                      .row

                        .col-md-12
                          //- .final-list
                          //-   .col-xs-1.col-sm-1 
                          //-   .col-xs-12.col-sm-3
                          //-     p.final-list-title-top Nombre
                          //-   .col-xs-12.col-sm-3
                          //-     p.final-list-title-top Apellido
                          //-   .col-xs-12.col-sm-3
                          //-     p.final-list-title-top Email
                          //-   .col-xs-12.col-sm-2
                          //-     p.final-list-title-top Rut
                          .final-list-data
                              #no-more-tables

                                table#usage.col-md-10.table-bordered.table-striped.table-condensed.cf
                                  thead.cf
                                    tr
                                      th 
                                      th.numeric Nombre
                                      th.numeric Apellido
                                      th.numeric Email
                                      th.numeric RUT

                                  tbody
                                    tr.lastPosAbs
                                      td 
                                        span 1
                                      td Bruno
                                      td Pero
                                      td.numeric pero@gmail.com
                                      td.numeric 15.987.888-0
                                    tr.lastPosAbs
                                      td 
                                        span 2
                                      td Bruno
                                      td Pero
                                      td.numeric pero@gmail.com
                                      td.numeric 15.987.888-0
                                    tr.lastPosAbs
                                      td 
                                        span 3
                                      td Bruno
                                      td Pero
                                      td.numeric pero@gmail.com
                                      td.numeric 15.987.888-0
                                    tr.lastPosAbs
                                      td 
                                        span 4
                                      td Bruno
                                      td Pero
                                      td.numeric pero@gmail.com
                                      td.numeric 15.987.888-0
                                    tr.lastPosAbs
                                      td 
                                        span 5
                                      td Bruno
                                      td Pero
                                      td.numeric pero@gmail.com
                                      td.numeric 15.987.888-0

                        .whatDo
                          .col-xs-6.col-sm-3
                            a.whatDo_action(href="#", onclick="return xepOnline.Formatter.Format('usage',{render:'download'});") Descargar 
                              span PDF
                          .col-xs-6.col-sm-3
                            a.whatDo_action(href="#") Imprimir

                          .col-xs-12.col-sm-6
                            .f1-buttons.end
                              //- button.btn.btn-previous(type='button') Previous
                              button.btn.btn-submit.endButton(type='submit') Continuar

            section.legal
              .row
                .col-xs-12
                  p  Para participar, debes ingresar tus datos y los de las personas que recomiendes en el sitio www.pordefinir.cl. Un mail de confirmación te llegará a ti y a tu(s) invitado(s) con información del Club. Existe un total de 500 premios de 20.000 Metropuntos.Recuerda que solo se puede ganar un máximo de 60.000 Metropuntos. Los Metropuntos que ganes solo los podrás aprovechar cuando estés inscrito en el Club Metrogas. Promoción válida desde el 01 al 31 de mayo del 2017.¡Aprovéchala y disfruta aún más los beneficios del Club Metrogas.
                  p  Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Nullam quis risus eget urna mollis ornare vel eu leo. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                  p  Donec ullamcorper nulla non metus auctor fringilla. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Maecenas faucibus mollis interdum. Etiam porta sem malesuada magna mollis euismod. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Aenean lacinia bibendum nulla sed consectetur.
    .container.colorFull
      .row
        footer
          .col-xs-12
            a()
              img.img-responsive(src="img/logo.png", alt="Metrogas Club")
            a(href="#top").flecha-Right
                img(src="img/arrow-bttm.svg", alt="subir")
              
          .col-xs-12.col-sm-6
            a.linkFoot(href="#") ir al sitio: <span>metrogas.cl/club</span>
          .col-xs-12.col-sm-6
            ul.navFoot
              li: a(href="#") preguntas frecuentes
              li: a(href="#") Conócenos
            ul.socialNav
              li
                 a(href="#")
                    i.ion-social-facebook
              li
                 a(href="#")
                    i.ion-social-twitter

          .col-xs-12
            .upFooter
              a.arrow(href="#top")
                img(src="img/arrow-bttm.svg", alt="subir")


    //-js
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/main.js')
    script(src='js/xepOnline.jqPlugin.js')
